<a href="https://colab.research.google.com/github/oJangInYoung/kosta-2470/blob/main/%EC%9E%A5%EC%9D%B8%EC%98%81_CountVectorizer_%EB%B6%84%EB%A5%98_%EB%AA%A8%EB%8D%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
import cv2

In [4]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [5]:
cd /content/drive/Shareddrives/2022_dlstudy/dacon/2022_sight/

/content/drive/Shareddrives/2022_dlstudy/dacon/2022_sight

In [6]:
df = pd.read_csv("train_v2.csv")

In [7]:
df

,id,img_path,overview,cat1,cat2,cat3
0,TRAIN_00000,./image/train/TRAIN_00000.jpg,"['소안항', '조용한', '인근해안', '청정해역', '양식', '소득', '바다...",자연,자연관광지,항구/포구
1,TRAIN_00001,./image/train/TRAIN_00001.jpg,"['경기', '이천시', '모가면', '골프장', '대중제', '홀', '회원제',...",레포츠,육상 레포츠,골프
2,TRAIN_00002,./image/train/TRAIN_00002.jpg,"['금오산성숯불갈비', '한우고기만', '전문적', '취급', '사용', '부식',...",음식,음식점,한식
3,TRAIN_00003,./image/train/TRAIN_00003.jpg,"['철판', '위', '요리', '안동찜닭', '수', '곳', '경상북', '안동...",음식,음식점,한식
4,TRAIN_00004,./image/train/TRAIN_00004.jpg,"['영업시간', '대', '아귀만', '전문', '취급', '전통', '역사', '...",음식,음식점,한식
...,...,...,...,...,...,...
16981,TRAIN_16981,./image/train/TRAIN_16981.jpg,"['해발', '자리한', '식담겸', '카페점문점이다곤드레밥', '감자전', '판매']",음식,음식점,한식
16982,TRAIN_16982,./image/train/TRAIN_16982.jpg,"['설악힐호텔', '동해고속도로', '속초톨게이트', '관광', '변', '속', ...",숙박,숙박시설,모텔
16983,TRAIN_16983,./image/train/TRAIN_16983.jpg,"['충남', '서산시', '중심가', '위치한', '줌모텔', '프라이버스', '보...",숙박,숙박시설,모텔
16984,TRAIN_16984,./image/train/TRAIN_16984.jpg,"['토토큰바위캠핑장', '경기', '가평지역', '내', '청정지역', '지역', ...",레포츠,육상 레포츠,"야영장,오토캠핑장"
16985,TRAIN_16985,./image/train/TRAIN_16985.jpg,"['포천', '진산', '왕방산', '천년', '역사', '간직', '왕산사', '...",인문(문화/예술/역사),역사관광지,사찰

In [18]:
from sklearn.feature_extraction.text import CountVectorizer

In [19]:
vectorizer = CountVectorizer(min_df=1)
#content = df["overview"][0]

In [21]:
import re

In [30]:
import torch

In [31]:
device = torch.device('cuda') if torch.cuda.is_available() else torch.device('cpu')
device

device(type='cuda')

In [34]:
compile = re.compile("[^ ㄱ-ㅣ가-힣]+")
for i in range(df.shape[0]):
  for j in range(len(df["overview"][i])):

      a = compile.sub("",df["overview"][i])
      df["overview"][i] = a

In [1]:
df

NameError: ignored

In [36]:
pip install konlpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting konlpy
  Downloading konlpy-0.6.0-py2.py3-none-any.whl (19.4 MB)
     |████████████████████████████████| 19.4 MB 1.2 MB/s
Requirement already satisfied: lxml>=4.1.0 in /usr/local/lib/python3.7/dist-packages (from konlpy) (4.9.1)
Collecting JPype1>=0.7.0
  Downloading JPype1-1.4.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (453 kB)
     |████████████████████████████████| 453 kB 58.8 MB/s
Requirement already satisfied: numpy>=1.6 in /usr/local/lib/python3.7/dist-packages (from konlpy) (1.21.6)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from JPype1>=0.7.0->konlpy) (4.1.1)
Installing collected packages: JPype1, konlpy
Successfully installed JPype1-1.4.0 konlpy-0.6.0

In [38]:
import konlpy
from konlpy.tag import *
tokenizer = Hannanum()

In [46]:
text = df['overview']

In [47]:
for i in range(len(df['overview'])):
  df['overview'][i] = tokenizer.nouns(text[i])

In [48]:
df

,id,img_path,overview,cat1,cat2,cat3
0,TRAIN_00000,./image/train/TRAIN_00000.jpg,"[소안항, 조용한, 인근해안, 청정해역, 양식, 소득, 바다낚시터, 유명, 항, 주...",자연,자연관광지,항구/포구
1,TRAIN_00001,./image/train/TRAIN_00001.jpg,"[경기, 이천시, 모가면, 골프장, 대중제, 홀, 회원제, 개장, 년, 대중제, 전...",레포츠,육상 레포츠,골프
2,TRAIN_00002,./image/train/TRAIN_00002.jpg,"[금오산성숯불갈비, 한우고기만, 전문적, 취급, 사용, 부식, 자재, 유기농법, 재...",음식,음식점,한식
3,TRAIN_00003,./image/train/TRAIN_00003.jpg,"[철판, 위, 요리, 안동찜닭, 수, 곳, 경상북, 안동시, 식, 전문점, 대표메뉴...",음식,음식점,한식
4,TRAIN_00004,./image/train/TRAIN_00004.jpg,"[영업시간, 대, 아귀만, 전문, 취급, 전통, 역사, 자랑, 음식점]",음식,음식점,한식
...,...,...,...,...,...,...
16981,TRAIN_16981,./image/train/TRAIN_16981.jpg,"[해발, 자리한, 식담겸, 카페점문점이다곤드레밥, 감자전, 판매]",음식,음식점,한식
16982,TRAIN_16982,./image/train/TRAIN_16982.jpg,"[설악힐호텔, 동해고속도로, 속초톨게이트, 관광, 변, 속, 대표, 여행지, 청초호...",숙박,숙박시설,모텔
16983,TRAIN_16983,./image/train/TRAIN_16983.jpg,"[충남, 서산시, 중심가, 위치한, 줌모텔, 프라이버스, 보장, 조용한, 공간, 가...",숙박,숙박시설,모텔
16984,TRAIN_16984,./image/train/TRAIN_16984.jpg,"[토토큰바위캠핑장, 경기, 가평지역, 내, 청정지역, 지역, 주변, 화악산, 중봉,...",레포츠,육상 레포츠,"야영장,오토캠핑장"
16985,TRAIN_16985,./image/train/TRAIN_16985.jpg,"[포천, 진산, 왕방산, 천년, 역사, 간직, 왕산사, 자리, 도선국사, 절, 창건...",인문(문화/예술/역사),역사관광지,사찰

In [49]:
df.to_csv('./train_v2.csv', index=False)

In [50]:
test_df = pd.read_csv("test.csv")

In [52]:
compile = re.compile("[^ ㄱ-ㅣ가-힣]+")
for i in range(test_df.shape[0]):
  for j in range(len(test_df["overview"][i])):

      a = compile.sub("",test_df["overview"][i])
      test_df["overview"][i] = a

In [53]:
test_text = test_df['overview']

In [54]:
for i in range(len(test_df['overview'])):
  test_df['overview'][i] = tokenizer.nouns(test_text[i])

In [56]:
test_df.to_csv('./test_v2.csv', index=False)

In [57]:
df['overview']

0        [소안항, 조용한, 인근해안, 청정해역, 양식, 소득, 바다낚시터, 유명, 항, 주...
1        [경기, 이천시, 모가면, 골프장, 대중제, 홀, 회원제, 개장, 년, 대중제, 전...
2        [금오산성숯불갈비, 한우고기만, 전문적, 취급, 사용, 부식, 자재, 유기농법, 재...
3        [철판, 위, 요리, 안동찜닭, 수, 곳, 경상북, 안동시, 식, 전문점, 대표메뉴...
4                  [영업시간, 대, 아귀만, 전문, 취급, 전통, 역사, 자랑, 음식점]
                               ...
16981                 [해발, 자리한, 식담겸, 카페점문점이다곤드레밥, 감자전, 판매]
16982    [설악힐호텔, 동해고속도로, 속초톨게이트, 관광, 변, 속, 대표, 여행지, 청초호...
16983    [충남, 서산시, 중심가, 위치한, 줌모텔, 프라이버스, 보장, 조용한, 공간, 가...
16984    [토토큰바위캠핑장, 경기, 가평지역, 내, 청정지역, 지역, 주변, 화악산, 중봉,...
16985    [포천, 진산, 왕방산, 천년, 역사, 간직, 왕산사, 자리, 도선국사, 절, 창건...
Name: overview, Length: 16986, dtype: object

In [58]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [60]:
def listToString(list):
  result = ""
  for w in list:
    result += w+" "
  return result.strip()

In [63]:
test1 = listToString(df['overview'][0])

In [64]:
test2 = listToString(df['overview'][0])

In [65]:
corpus = [test1, test2]

In [66]:
tfidfv = TfidfVectorizer().fit(corpus)

In [67]:
print(tfidfv.transform(corpus).toarray())

[[0.19245009 0.19245009 0.19245009 0.19245009 0.19245009 0.19245009
  0.19245009 0.19245009 0.19245009 0.19245009 0.19245009 0.19245009
  0.19245009 0.19245009 0.19245009 0.19245009 0.19245009 0.19245009
  0.19245009 0.19245009 0.19245009 0.19245009 0.19245009 0.19245009
  0.19245009 0.19245009 0.19245009]
 [0.19245009 0.19245009 0.19245009 0.19245009 0.19245009 0.19245009
  0.19245009 0.19245009 0.19245009 0.19245009 0.19245009 0.19245009
  0.19245009 0.19245009 0.19245009 0.19245009 0.19245009 0.19245009
  0.19245009 0.19245009 0.19245009 0.19245009 0.19245009 0.19245009
  0.19245009 0.19245009 0.19245009]]

In [68]:
print(tfidfv.vocabulary_)

{'소안항': 12, '조용한': 22, '인근해안': 17, '청정해역': 24, '양식': 14, '소득': 11, '바다낚시터': 5, '유명': 16, '주변': 23, '설치': 8, '양식장들': 15, '섬사람들': 10, '부지런': 6, '생활상': 7, '고스': 1, '란히': 3, '일몰': 18, '정경': 20, '바다': 4, '아름다움': 13, '각시': 0, '전설': 19, '도둑바위': 2, '설화': 9, '정월': 21, '풍어제': 26, '풍속': 25}

In [80]:
from sklearn.feature_extraction.text import CountVectorizer

In [81]:
vectorizer = CountVectorizer(min_df=2)

In [82]:
X = vectorizer.fit_transform(corpus)

In [83]:
vectorizer.get_feature_names()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['각시',
 '고스',
 '도둑바위',
 '란히',
 '바다',
 '바다낚시터',
 '부지런',
 '생활상',
 '설치',
 '설화',
 '섬사람들',
 '소득',
 '소안항',
 '아름다움',
 '양식',
 '양식장들',
 '유명',
 '인근해안',
 '일몰',
 '전설',
 '정경',
 '정월',
 '조용한',
 '주변',
 '청정해역',
 '풍속',
 '풍어제']

In [85]:
X.toarray()

array([[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1]])